@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-white;
  }
}

@layer components {
  .shimmer {
    background: linear-gradient(
      to right,
      #1f1f1f 0%,
      #2a2a2a 20%,
      #1f1f1f 40%,
      #1f1f1f 100%
    );
    background-size: 1000px 100%;
    animation: shimmer 2s infinite;
  }
}
